body {
  font-weight: bold;
}

.alertMessageShort {
  font-size: larger;
  padding:0;
  margin-top:1%;
}


.red {
  color:rgb(190, 42, 42);
}

.green {
  color: rgb(22, 206, 22);
}

.orange {
  color: rgb(216, 144, 48);
}

.absolute {
  position: absolute;
}

.bottom {
  bottom: 5%;
}

.left {
  left: 5%;
}

.medium {
  font-size: medium;
}

.x-large {
  font-size: x-large;
}

.no-space {
  padding: 0;
  margin: 0;
}

@media screen and (max-width:767px) {
  .top {
    top:10%;
  }
  .bottom {
    bottom:3px;
  }
}