.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 7vmin);
  font-weight: bold;
  position: relative;
  color: white;
}

.App-link {
  color: #61dafb;
}


body {
  background-color: #282c34;
  text-align: center;
}

.primaryColor {
  background-color: #282c34;
}

.primaryColor:hover {
  background-color: #34373c;
}

.returnButton:hover {
  background-color: white;
}

.signOutButton:hover {
  background-color: white;
}

.homeSelectButton:hover {
  color:#b4b8c4
}

.homeSelectSection {
  min-height: 50vh;
  text-align: center;
}

.homeSelectButton {
  margin: 4%;
  font-weight: bold;
  border-radius: 1vw;
  color: white;
  text-shadow: black 0.01em 0.05em 0.1em;
  border: white 5px solid;
}

.returnButton {
  position: fixed;
  width: auto;
  height: auto;
  color: red;
  font-size: 250%;
  background-color: #282c34;
  height: auto;
  padding: 1%;
  bottom: 5%;
  border: 3px white solid;
  border-radius: 999em;
  right: 3%;
}

.signOutButton {
  position: fixed;
  width: auto;
  height: auto;
  color: red;
  font-size: 250%;
  background-color: #282c34;
  height: auto;
  padding: 1%;
  bottom: 5%;
  border: 3px white solid;
  border-radius: 999em;
  left: 3%;
}

@media screen and (max-width: 767px){
  .homeSelectButton {
    width: 80%;
    height: 20vh;
    font-size: 5vh;
  }
  .returnButton,
  .signOutButton {
    font-size: 200%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .homeSelectButton {
    width: 80%;
    height: 25vh;
    font-size: 7vh;
  }
}

@media screen and (min-width: 1024px) {
  .homeSelectButton {
    width: 30%;
    height: 50vh;
    font-size: 8vh;
  }
}
