.datePickerSection {
  position: absolute;
  width: 100%;
  height: 100%;
}
.datePickerBack {
  position: absolute;
  background-color: black;
  opacity: .7;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.datePickerBase {
  position: inherit;
  height:fit-content;
  width: 35%;
  text-align: center;
  font-weight: bold;
  background-color: none;
  position: relative;
  border-radius: 1vh;
  top:2%;
  color:white;
  left: 3%;
  background-color: #282c34;
  font-size: 1.5vh;
  border:2px solid white;
  transition:none;
  z-index: 100;
}
.datePickerYear {
  font-size: medium;
  border-radius: 1vh 1vh 0 0;
}
.datePickerMonth {
  font-size: medium;
  height: 10%;
  color:#282c34;
  background-color: white;
}
.daysInWeek {
  width: 14.2857%;
  display: inline-block;
}
.days {
  color:white;
  font-weight: bold;
  border:none;
  border-radius: 1vh;
  width: 14%;
  display: inline-block;
  padding:0 1% 0 1%;
  margin-bottom: 1%;
  background-color: #282c34;
}
.daysSelected {
  background-color: #d7d7d5;
}
.daysN {
  width: 14%;
  display: inline-block;
}
.days:hover {
  box-shadow: 0px 1px 0px 0px white;
}
.monthPNbutton {
  border:none;
  color:#282c34;
  font-weight: bold;
  background-color: white;
}
.closeDatePicker {
  top:-1%;
  right: 0;
  width: 12%;
  position: absolute;
  color: #FFEAD2;
  background-color: rgb(204, 94, 94);
  font-weight: bold;
  border:none;
  border-top-right-radius: .9vh;
  border-bottom-right-radius: 0;
}
.disable {
  color:#71747a
}
.disable:hover {
  box-shadow: none;
}

textarea:focus, input:focus, select:focus {
  outline: none;
}


@media screen and (max-width: 549px){
  .datePickerBase {
    width: 95%;
  }
  .datePickerBack {
    bottom:0%;
  }
}

@media screen and (max-width: 767px) and (min-width: 550px){
  .datePickerBase {
    width: 50%;
  }
  .datePickerBack {
    bottom:0%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .datePickerBase {
    width: 70%;
  }
  .datePickerBack {
    bottom:0%;
  }
  .datePickerMonth {
    height: auto;
  }
}
