::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888; 
}

.label {
  width: 50%;
}

.itemModelsPage {
  font-weight: bold;
  font-size: 150%;
  margin: auto;
  width: 40%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: flex-start;
  color:white;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
}

.itemModelsPageTitle {
  width: 100%;
  font-size: 150%;
  text-align: center;
}

.itemModelsAddForm{
  width: 100%;
  height:50%;
  border:2px white solid;
  border-radius: 5px;
}

.itemModelAdjustForm {
  width: 100%;
  height:50%;
  border:2px white solid;
  border-radius: 5px;
}

.itemModelAdd,
.itemModelSettings {
  position: relative;
  margin: auto;
  width: 80%;
  text-align: left;
}


.itemModelAddName,
.itemModelAddClass,
.select_itemModel,
.itemModel_belongs_itemClass_select {
  width: 100%;
  margin-top: 2%;
  justify-content: space-between;
  display: flex;
}

.modelRename {
  margin-top: 2%;
  justify-content: space-between;
  display: flex;
}

.input,
.select {
  text-align: center;
  width: 45%;
  height: 5%;
}

.modelSet {
  margin: 2%;
  width: 40%;
  background-color: aliceblue;
  color:rgb(40, 40, 40);
  border-radius: 5px;
  border: none;
}

.modelSet:hover {
  background-color: rgb(203, 208, 213);
}

.modelSet:active {
  background-color: rgb(141, 147, 152);
}


@media screen and (max-width: 529px){
  .itemModelsPageTitle {
    font-size: 100%;
  }

  .itemModelsPage {
    width: 80%;
  }
  
  .itemModelAddName,
  .itemModelAddClass,
  .select_itemModel,
  .itemModel_belongs_itemClass_select,
  .modelRename {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .label {
    width: 100%;
  }
  .input, 
  .select {
    margin-top:1%;
    font-size: large;
    text-align: center;
    width: 100%;
    height: 5%;
  }
  .modelSet {
    font-size: 80%;
  }
}

@media screen and (max-width: 767px) and (min-width: 530px){
  .itemModelsPageTitle {
    font-size: 120%;
  }

  .itemModelsPage {
    width: 80%;
  }

  .select_itemModel,
  .itemModel_belongs_itemClass_select,
  .modelRename {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .label {
    width: 50%;
  }
  .input,
  .select {
    font-size: large;
    text-align: center;
    width: 45%;
    height: 5%;
  }
  .modelSet {
    font-size: 80%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .itemModelsPage {
    width: 80%;
  }
  .itemModelAddName,
  .itemModelAddClass,
  .select_itemModel,
  .itemModel_belongs_itemClass_select,
  .modelRename {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .label {
    width: 50%;
  }
  .input,
  .select {
    text-align: center;
    width: 50%;
    height: 5%;
  }
}