form {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: none;
  border: white 5px solid;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.rentalFormTitle {
  font-size: 40px;
  text-align: center;
  width: 100%;
  height: 10%;
  margin: 0;
  margin-top:2%;
}

.rentalFormTitleAdminVer {
  width: 100%;
  text-align: center;
  height:auto;
}

.formSection30 {
  display: flex;
  flex-wrap: wrap; 
  width: calc(25% - 10px); 
  height: 10%;
  margin-left:5%;
  margin-top:5%;
  align-items: center;
}

.formSection40 {
  display: flex;
  flex-wrap: wrap; 
  width: calc(35% - 10px); 
  height: 10%;
  margin-left:5%;
  margin-top:5%;
  align-items: center;
}

.formSection100 {
  flex-wrap: wrap; 
  width: calc(100% - 10px); 
  height: 10%;
  margin-top:5%;
  align-items: center;
}

.formLabel {
  margin-right: 3%;
  font-size: 120%;
}

.formRenterInput {
  font-size: 100%;
  padding: 1%;
}

.formRenterItemSelect {
  width: 60%;
  padding:2%;
  font-weight: bold;
}

.formItemDate {
  margin-right: 2%;
  font-size: 120%;
  padding: 1%;
  border: 2px white solid;
  border-radius: 5px;
}

.formRentalDescription {
  padding: 1%;
  width: 80%;
}

.submitButton {
  width: 15%;
  height: 20%;
  border: 2px white solid;
  border-radius: 10px;
  margin-bottom: 2%;
  font-size: 150%;
  font-weight: bold;
  color: white;
  background-color: rgb(66, 211, 26);
}

.submitButton:active {
  background-color: green;
}

.back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: black;
  opacity: .5;
}

.itemListSection {
  color:white;
  width: 80%;
  margin:auto;
  font-size:150%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.switchItemShow {
  font-size: 250%;
  width:100%;
  height: fit-content;
  padding:1%;
  color: white;
  border-radius: 100vh;
}

.hide {
  transform: rotate(-180deg);
}

.rentalItemSection {
  width: 20%;
  margin: auto;
  margin-top: 2%;
  border: 2px white solid;
  border-radius: 5px;
}

.cppcContactInfoBtn {
  position: fixed;
  right:2%;
  top:3%;
  font-size: 300%;
  color:rgb(222, 214, 160);
}
.cppcContactInfoBtn:hover {
  color:rgb(212, 194, 80);
}
.cppcContactInfoBtn:active {
  color:rgb(103, 102, 99);
}

.cppcContactInfo {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  text-align: center;
  align-items: center;
  display: flex;
}
.cppcContactInfoSection {
  width: 50%;
  height: fit-content;
  position: relative;
  background-color: rgb(199, 199, 128);
  opacity: 1;
  margin: auto;
  z-index: 100;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  font-weight:bolder;
  overflow-y: auto;
}
.cppcContactInfoBack {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 1;
  z-index: 99;
  opacity: .5;
}
.cppcName {
  width: 100%;
  margin:2%;
  text-align: center;
  align-items: center;
  color: black;
  font-size: 300%;
}
.cppcInfo {
  display: flex;
  flex-wrap: wrap;
  margin:auto;
}
.cppcInfo p {
  font-weight: bold;
  font-size: 200%;
  margin:2%;
  color:rgb(62, 62, 62);
  width: 100%;
}

.rentalFormSelectedItems {
  align-items: center;
  margin: auto;
  text-align: left;
  padding:5% 5% 0 5%;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wantedItem {
  margin-right:2%;
}
.deleteWantedItem {
  color: red;
  background-color: #282c34;;
  border:none;
}

@media screen and (max-width: 767px){
  .rentalFormTitle {
    font-size: 30px;
    margin:8px;
  }
  .formSection30 {
    width: calc(80% - 10px); 
    font-size: 80%;
  }
  .formSection40 {
    width: calc(80% - 10px); 
    font-size: 80%;
  }
  .formRentalDescription {
    padding: 1%;
    width: 100%;
  }
  .submitButton {
    width: 55%;
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: rgb(66, 211, 26);
  }
  .switchItemShow {
    font-size: 200%;
  }
  .rentalItemSection {
    width: 80%;
    margin-bottom:3%;
  }
  .cppcContactInfoSection {
    width: 60%;
  }
  .cppcName {
    font-size: 200%;
  }
  .cppcInfo p {
    font-size: 150%;
  }
}

@media screen and (max-width: 400px) {
  .cppcContactInfoSection {
    width: 90%;
  }
  .cppcName {
    font-size: 150%;
  }
  .cppcInfo p {
    margin:0%;
    font-size: 100%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .rentalFormTitle {
    font-size: 30px;
  }
  .formSection30 {
    width: calc(45% - 10px); 
    font-size: 100%;
  }
  .formSection40 {
    width: calc(60% - 10px); 
    font-size: 100%;
  }
  .formRentalDescription {
    padding: 1%;
    width: 70%;
  }
  .submitButton {
    width: 35%;
    font-size: 150%;
    font-weight: bold;
    color: white;
    background-color: rgb(66, 211, 26);
  }
  .switchItemShow {
    font-size: 200%;
  }
  .rentalItemSection {
    width: 40%;
    margin-bottom:3%;
  }
  .cppcContactInfoSection {
    width: 90%;
  }
}
